@import "../variables.scss";

.business-show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .business-show-header {
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10em;
    border-bottom: 1px solid #E6E6E6;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: gray;

      .ratings {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        // background-color: red;
      }

      h1{
        color: #000;
        font-size: 3em;
        font-weight: bold;
      }
    }

    button {
      background-color: $primary-color;
      color: #FFF;
      padding: 1em;
      font-size: 1em;
      box-shadow: $box-shadow;
    }
  }

  .features-container {
    // height: 30vh;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 1em 10em;
    margin: 0.5em 0;
  }
}
