
.business-search-container {
  height: 85vh;
  display: flex;
  padding: 1em;
}

@media only screen and (max-width: 500px) {
  .business-search-container {
    height: 100vh;
    display: column;
    padding: 0;
  }
}
