@import '../variables';
.business-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .current-info {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    border-radius: 0.5em;
    // border: 1px solid #E6E6E6;
    padding: 1em;

    .closed {
      color: red;
      border-bottom: 1px solid #E6E6E6;
    }

    .open {
      color: green;
      border-bottom: 1px solid gray;
    }
  }

  .detail-info {
    margin: 1em;
    display: flex;
    font-size: 1em;
    flex-direction: column;
    width: 100%;
    ul {
      li {
        display: flex;
      }
    }

    h1 {
      span {
        color: $primary-color;
        font-size: 1.5em;
        border-bottom: 1px solid #E8E8E8;
      }
    }

    h2 {
      color: $primary-color;
    }
  }
}

.green {
  color: green;
}
