@import '../variables.scss';
.image-carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  box-shadow: 2px 2px 5px #D8D8D8;
  height: 15em;
  width: 70%;
  .image-carousel-item {
    margin: 0 0.5em;
    height: 100%;

    img {
      height: 100%;
      width: auto;
    }
  }
}

@media only screen and (max-width: 500px) {
  .image-carousel {
    margin: 0.5em 0;
    width: 97vw;
  }
}