
.image-carousel {
  padding: 0.5em;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF;
  box-shadow: 2px 2px 5px #888;

  .image-carousel-item {
    display: flex;
    height: 30vh;
    width: 30vh;
    margin: 0.5em;
  }
}
