@import '../variables.scss';

.new-business-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em 7em;

  h1 {
    font-size: 2em;
    color: $primary-color;
  }

  .new-businesses {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    // border: 1px solid black;
    height: 25em;

    .new-business-item {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 30%;
      box-shadow: 1px 1px 2px #888;
      border-radius: 0.5em;
      // overflow: hidden;
      .new-biz-img {
        height: 40em;
        width: auto;
      }

      .new-business-info {
        height: 100%;
        font-size: 1em;
        color: gray;
        padding: 0.5em;
        h1 {
          color: #000;
          transition: color 0.5s;
          &:hover {
            color: $primary-color;
          }
        }



      }
    }
  }
}
