@import '../variables.scss';
.review-and-biz-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10em;
  .review-index-container {
    width: 80%;
    overflow-y: auto;

    h1[class='review-header'] {
      font-size: 2em;
      color: $primary-color;
    }
    .review-index {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .review-index-item {
        display: flex;
        justify-content: flex-start;
        box-shadow: 1px 1px 2px #888;
        margin: 0.5em;
        padding: 1em;
        .avatar {
          img {
            height: 10vh;
            width: 5vw;
          }
        }
      }
    }
  }
}
