@import "./variables.scss";

.footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $footer-color;

  a {
    margin: 0 1em;
    font-size: 0.8em;
    color: #888;
    transition: color 1s;
    &:hover {
      color: $primary-color;
    }
  }
}
