@import './variables.scss';
.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E6E6E6;

  label {
    background-color: #FFF;
    font-size: 1em;
    padding: 0.75em;
    transition: all 1s;
    input:not(.btn) {
      padding-left: 0.25em;
      font-size: 1em;
      width: 25vw;
    }
  }

  .find {
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
  }

  .btn {
    padding: 0.81em;
    font-size: 0.9em;
    text-shadow: 1px 1px 2px #888;
    // background-color: $primary-color;
    // color: #FFF;

    border: 2px solid $primary-color;
    border-left: none;
    background-color: transparent;
    color: $primary-color;
    
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
      // box-shadow: 3px 3px 5px #888;
      background-color: $primary-color;
      color: #FFF;
      text-shadow: none;
    }
  }
}

@media only screen and (max-width: 500px) {
  .searchbar {
    flex-direction: column;
    justify-content: space-between;

    label {
      width: 90vw;
      margin: 0.5em 0;
      border-radius: 0.5em;

      input:not(.btn) {
        padding-left: 0.25em;
        font-size: 1em;
        width: 70vw;
      }
    }

    .find {
      border-radius: 0.5em;
    }

    .btn {
      font-size: 1em;
      font-weight:bold;
      border-radius: 0.5em;
      width: 96vw;
      border-left: 2px solid $primary-color;
    }
  }
}
