// Images
$image-url: "https://images.pexels.com/photos/239975/pexels-photo-239975.jpeg?w=940&h=650&auto=compress&cs=tinysrgb";
$homepage-image: "https://static.pexels.com/photos/5317/food-salad-restaurant-person.jpg";
// Colors
$primary-color: rgb(255,165,0);
$primary-color-light: rgba(255, 165, 0, 0.8);
$footer-color: #F8F8F8;

.button {
  padding: 10px;
  font-size: 15px;

  background-color: transparent;
  color: #FFF;
  border-radius: 5px;

  transition: background-color 1s, color 1s;

  &:hover {
    background-color: $primary-color;
    color: #FFF;
  }
}
