@import url('https://fonts.googleapis.com/css?family=Dosis');

html {
  font-family: 'Dosis', sans-serif;
  height: 100%;
}

body {
  min-height: 100%;
}

.main-page {
  width: 100%;
  height: 600px;
}

input {
  border: none;

  &:focus {
    outline: none;
  }
}

button {
  border: none;
}
