@import "./variables";


.navbar-container {
  display: flex;
  flex-direction: column;

  .jumbotron {
    height: 80vh;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: url($homepage-image) no-repeat center;
    background-size: cover;

    .links-container {
      align-self: flex-end;

      .session-links {
        display: flex;

        h2 {
          margin: 0 15px;
          font-size: 20px;
          color: $primary-color;
        }

        button {
          padding: 10px;
          background-color: #FFF;
          color: black;
          transition: background-color 1s, color 1s;

          &:hover {
            background-color: $primary-color;
            color: #FFF;
          }
        }
      }
    }

    #logo {
      font-size: 3em;
      font-weight: bold;
      color: #FFF;
      text-shadow: 2px 2px 5px #888;
    }

    p {
      color: #FFF;
    }
  }
}
